:root {
  --primary-color: #bcabaeff;
  --secondary-color: #3B2C2A;
  --third-color: rgb(175, 152, 156);
  --accent-color: #2d2e2eff;  
  --background-color: #8a8282ff;
  --text-color: #fbfbfbff;
  --text-color2: #333333;
}

body {
  padding: 0;
  margin: 0;
  background:var(--background-color);
  color:var(--text-color);
}

ul {
  list-style-type: none;
}

main{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: var(--secondary-color);
  background-position: center top;
  text-align: center;
  background-size: cover;
  line-height: 1.5;
  width: 100%;
  margin: 0;
  padding: 50;
  box-sizing: border-box;
}

.p-skinny {
  width: 43%;
  font-size: 1.5em;
  margin-top: 0;
}
form{
  align-items: center;
}

.form-signin {
  display: flex;
  flex-direction: column;
}

select {
  border-radius: 10px;
  height: 30px;
  font-size: 1.5em;
  text-align: center;
  padding: 0;
  margin: 10px;
}

.input-d {
  border-radius: 10px;
  height: 30px;
  font-size: 1.5em;
  text-align: center;
  padding: 0;
  margin: 0;
}

.form-edit {
  display: flex;
  flex-direction: row;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: var(--text-color2);
  padding: 0;
  margin-bottom: 5px;
}

body {
  margin: 0;
  padding: 0;
}
h1{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 3em;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 10px;
}

.logout-button {
  height: 60px;
  width: 100px;
  border-radius: 20px;
  font-size: 1.5em;
  margin-bottom: 50px;
}

.hidden {
  display: none;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

button {
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
  color: var(--text-color);
}

.h-table {
  width: 50%;
}

.h-row {
  font-size: 1em;
  padding: 0;
  margin: 0;
  text-align: center;
  color: var(--text-color2);
  background-color: var(--primary-color);
}

.top-row {
  font-size: 1em;
  padding: 0;
  margin: 0;
  text-align: center;
  color: var(--text-color2);
  background-color: var(--third-color);
}

input {
  border-radius: 10px;
  height: 50px;
  font-size: 1.5em;
  text-align: center;
  padding: 0;
  margin: 0;
}

.start-button {
  height: 60px;
  width: 100px;
  border-radius: 20px;
  font-size: 1.5em;
}

.signin-button {
  margin-top: 30px;
  height: 50px;
  width: 100px;
  border-radius: 20px;
  font-size: 1.5em;
}

.input-d {
  border-radius: 10px;
  height: 30px;
  font-size: 1.5em;
  text-align: center;
  padding: 0;
  margin: 0;
}

.delete-button {
  height: 30px;
  width: 100px;
  border-radius: 20px;
  font-size: 1.5em;
}

form {
  padding-top: 20px;
}

footer {
  background-color: var(--secondary-color);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  padding-top: 50px;
  margin-top: 50px;
}
