.postSection {
	background-color: white;
	margin-left: 5vw;
	margin-right: 5vw;
	margin-bottom: 20px;
	border-radius: 20px;
}

.postTitle {
	color: black;
	font-size: 20px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0;
}

.searchPageTitle {
	color: black;
	margin-left: 5vw;
	margin-right: 5vw;
}

.postLink {
	text-decoration: none;
}

.postLink:hover {
	text-decoration: underline;
}

.postContent {
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin: 0;
}