html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.4fr repeat(2, 1fr) 0.3fr 1.2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  width: 100vw;
}


.main-form {
  z-index: 2;
  text-align: center;
  width: 70%;
  margin: auto;
  padding: 1em;
  background-color: antiquewhite;
  border-radius: 4px;
}

.pageTitle {
  text-align: center;
  font-family: "Aboreto";
  color: #D4CBBA;
}

h3, h4, p {
  font-family: "Cormorant";
  font-weight: bold;
}

p {
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
}

label {
  display: block;
  color: #726D2D;
  font-weight: bold;
  font-size: 1.5em;
}

.main-form select, .main-form .select2-container {
  width: 100% !important;  
}

.main-form .select2-selection {
  width: 100% !important;  
}

.dropdown {
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  font-family: "Cormorant";
  font-weight: bold;
  font-size: 1.1rem;
  color: #726D2D;
  margin-bottom: 1rem;
}

.ingredient-select {
  width: 100% !important;  
  box-sizing: border-box;
}

select {
  display: block;
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.input-field {
  font-family: "Cormorant";
  font-weight: bold;
  color: #726D2D !important;
}

.styled-button {
  background-color: #726D2D;
  border: none;
  border-radius: 8px;
  width: 50%;
  font-family: "Aboreto" !important;
  font-size: 16px;
  color: white;
  padding: 10px 5px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px;
  cursor: pointer;
}

.styled-button-variation {
  background-color: antiquewhite;
  border: 3px solid #726D2D;
  border-radius: 8px;
  width: 50%;
  font-family: "Aboreto" !important;
  font-size: 16px;
  color: #726D2D;
  padding: 10px 5px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px;
  cursor: pointer;
}

.google-btn {
  color: #726D2D !important;
  font-family: "Aboreto" !important;
  font-weight: bold;
}

.div1 { 
  grid-area: 1 / 1 / 2 / 4; 
  background-color: #50341f;
}

.div2, .div3, .div4 {
  background-image: url(./assets/blurredRocks.jpg);
  background-position: left;
  background-size: cover;
}

.div2 { 
  grid-area: 2 / 1 / 4 / 2; 
  position: relative;
  
}

.div3 { 
  grid-area: 2 / 2 / 4 / 3; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div4 { 
  grid-area: 2 / 3 / 4 / 4;
  position: relative;
}

.arch {
  background-image: url(./assets/archWithBottles.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.div5 { 
  grid-area: 4 / 1 / 5 / 4; 
  background-color: #f2dfb7;
}

.div6 { 
  grid-area: 5 / 1 / 6 / 4; 
  background-image: url(./assets/barfronttexture.png);
}

.barstools {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./assets/barstools_correctheight.png);
  background-repeat: repeat-x;
  background-position: bottom;
}

@media only screen and (max-width: 600px) {
  
  .parent {
      grid-template-columns: 1fr;
  }
  
  .div2, .div4 {
      display: none;
  }

  .div3 {
      grid-area: 2 / 1 / 4 / 2;
      position: relative;
      width: 100%;
  }

}

@media only screen and (min-width: 768px) and (max-width: 900px) {

  .parent {
      grid-template-columns: 1fr 1fr;
  }

  .div2 {
      grid-area: 2 / 1 / 4 / 2;
  }

  .div3 {
      grid-area: 2 / 2 / 4 / 2;
  }

  .div2, .div3 {
      display: block;
      position: relative;
      width: 100%;
  }

  .div4 {
      display: none;
  }
}