* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F5E0E0;
}

.container {
    display: flex;
}

/* Sidebar */
.sidebar {
    background-color: #EABDBD;
    width: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
}

/* Group Buttons Scrollable */
#groupButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: auto;
}

#groupButtons::-webkit-scrollbar {
    display: none;
}

.sidebar button {
    background-color: #e78b8b;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 16px;
    flex-shrink: 0;
    color: #000000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.sidebar button:hover {
    background-color: #c51313;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sidebar .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    position: relative;
}

.sidebar button img {
    width: 30px;
    height: 30px;
}

/* Main content */
.main {
    flex: 1;
    padding: 30px;
}

.group-header {
    background-color: #EABDBD;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.group-header h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.group-header p {
    font-size: 16px;
    color: #666;
}

.content {
    display: flex;
    justify-content: space-between; 
    height: 100%;
}

.fc {
    max-height: 700px;
    width: 100%;       
    height: 100%;      
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.fc-daygrid-day:hover {
    background-color: #D08F8F;
    cursor: pointer; 
  }
  

.calendar-tasks-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto; 
}

.tasks-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto; 
}
  
.calendar-section {
    flex: 0 0 70%; 
    max-width: 70%;
    height: auto;
}
  
.tasks-section,.all-tasks-section {
    padding-left: 20px;
    padding-top: 20px;  
    padding-right: 20px;
}

.tasks-list,.all-tasks-list {
    list-style-type: none;
    height: 100px;
    overflow-y: auto;
    margin: 0;
}
  
.tasks-list li,.all-tasks-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 4px solid #de9696;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.tasks-list li:hover, .all-tasks-list li:hover {
    background-color: #FFEBEB;
}

form#addTask {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between form elements */
    max-width: 100%; /* Set a max width for the form */
    padding: 20px;
    background-color: #EABDBD; /* Match profile background color */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Label Styles */
form#addTask label {
    font-size: 18px; /* Increase label font size */
    margin-bottom: 5px; /* Space below label */
}

/* Input Fields */
form#addTask input[type="text"],
form#addTask input[type="date"],
form#addTask .search-bar {
    width: 100%; /* Full width */
    border: 1px solid #ccc; /* Consistent border */
    border-radius: 5px; /* Consistent border radius */
    font-size: 16px; /* Consistent font size */
}

/* Button Styles */
form#addTask button, button {
    padding: 10px; /* Consistent padding */
    background-color: #007bff; /* Match button color */
    color: white; /* Text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Match font size */
    transition: background-color 0.3s ease; /* Smooth transition */
}

form#addTask button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

.dropdown-container {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}
.selected-options {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.selected-options .option {
    background-color: #007BFF;
    color: white;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 5px;
}

.dropdown {
    position: relative;
    width: 100%;
}
.search-bar {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Vertical Dropdown */
.options-list {
    max-height: 150px; /* Control the maximum height for vertical dropdown */
    display: flex;
    flex-direction: column; /* Ensure vertical stacking */
    overflow-y: auto; /* Allow vertical scrolling if needed */
    overflow-x: hidden; /* Hide horizontal scrolling */
    position: absolute; 
    top: 100%; /* Position below the search bar */
    left: 0;
    width: 100%; /* Full width of the container */
    max-width:300px;
    background-color: white;
    z-index: 1000;
    border: 1px solid #ddd;
}

/* Option label */
.options-list label {
    padding: 10px;
    cursor: pointer;
    display: block; /* Ensure each option takes up full width */
    white-space: nowrap; /* Prevent text from wrapping within an option */
}


.options-list label:hover {
    background-color: #f0f0f0;
}

.options-list input[type="checkbox"] {
    margin-right: 10px;
}
  

/* Footer */
.footer {
    position: absolute;
}

/* Logout Button Container */
.logout-container {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    align-items: center; /* Center the button vertically */
    height: calc(100vh - 40px); /* Adjust height to avoid overflow with footer */
    padding: 20px;
}
/* Account settings*/
#profile {
    width: 100%;
    height: auto;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #D08F8F;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

#profile h3 {
    text-align: center;
    color: #000000;
}

#profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form#passwordForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#passwordForm input[type="text"],
#passwordForm input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#passwordForm button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#passwordForm button:hover {
    background-color: #0056b3;
}

#currentUser {
    font-size: 18px;
    color: #666;
    text-align: center;
    margin-bottom: 10px;
}

#addGroup {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #D08F8F;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    height: auto;
}

#addGroup h3 {
    text-align: center;
    color: #000000;
}

#addGroup p {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}

#groupForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Input Fields */
#groupForm input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#groupForm button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#groupForm button:hover {
    background-color: #0056b3;
}

.leave-group-btn, .delete-group-btn {
    background-color: #8B0000; /* Dark Red */
    color: white;
    border: none;
    padding: 5px 5px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    margin-right: 10px; /* Add space between buttons */
}

.leave-group-btn:hover, .delete-group-btn:hover {
    background-color: #B22222; /* Lighter red on hover */
}
