* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F5E0E0;
}

.container {
    display: flex;
}
  
/* Sidebar */
.sidebar {
    background-color: #EABDBD;
    width: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Align content within sidebar vertically */
    padding-top: 10px; /* Optional: add some spacing at the top */
}

#groupButtons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar button {
    background-color: #D08F8F;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 16px;
}

.sidebar .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.sidebar button img {
    width: 30px;
    height: 30px;
}

/* Main content */
.main {
    flex: 1;
    padding: 20px;
}

.group-header {
    background-color: #EABDBD;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.group-header h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.group-header p {
    font-size: 16px;
    color: #666;
}

.content {
    display: flex;
    justify-content: space-between; 
    height: 100%;
}

.fc {
    max-height: 700px;
    width: 100%;       
    height: 100%;      
    overflow: hidden;  
}

.fc-daygrid-day:hover {
    background-color: #d4edda;
    cursor: pointer; 
  }
  

.calendar-tasks-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto; 
}

.tasks-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto; 
}
  
.calendar-section {
    flex: 0 0 70%; 
    max-width: 70%;
    height: auto;
}
  
.tasks-section,.all-tasks-section {
    padding: 20px;
}
  
.tasks-list,.all-tasks-list {
    list-style-type: none;
    padding: 0;
}
  
.tasks-list li,.all-tasks-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 4px solid #de9696; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  

/* Footer */
.footer {
    position: absolute;
    bottom: 20px;
}