<div class="navbar bg-neutral" style="padding-left: 16px; padding-right: 8px;">
  <div class="navbar-start"></div>
  <div class="navbar-center">
    <a href="/login" class="btn btn-neutral text-xl">Kitchen Inventory</a>
  </div>
  <div class="navbar-end"></div>
</div>
