.main-home {
    position: absolute; 
    top: 50%;
    left: 50%;
    width: 905px;
    height: 75vh;
    transform: translate(-50%, -50%); 
    margin: 0 auto;
    background: white;
    border: 8px solid #1e1e1e;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: flex-start;
    align-items: center;
    
}

.main{
    position: absolute; 
    top: 50%;
    left: 50%;
    width: 905px;
    height: auto;
    transform: translate(-50%, -50%); 
    margin: 0 auto;
    background: white;
    border: 8px solid #1e1e1e;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: flex-start;
    align-items: center;
}

.instructions{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 20px;
    text-align: left;
    margin-top: 20px; 
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    margin-top: 60px; 
}

.about-container h1 {
    margin-bottom: 10px;
}

.about-container p {
    max-width: 600px;
    line-height: 1.5;
}

.logout-button {
    position: absolute !important;
    top: 20px;
    left: 20px;
    z-index: 999;  /* Ensure it's on top of other elements */
}
.navigation-button {
    padding: 10px;
    background-color: #554481;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 40px;
    width: 500px;
  }

.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    flex-direction: column;
}

.tracking-img{
    height: auto;
    width: auto;
    margin-top: 20px;
}