<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Final</title>
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <link href="/output.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      HEADER
    </header>
    <div>
      {{{body}}}
    </div>
    <footer>
    </footer>
  </body>
</html>
